@import url('https://fonts.googleapis.com/css?family=Roboto:300');

@font-face {
    font-family: 'bebas_neuethin';
    src: url('../fonts/bebasneue_thin-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neuebold';
    src: url('../fonts/bebasneue_bold-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neuelight';
    src: url('../fonts/bebasneue_light-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$transition-duration : .5s;
$bg-color: #9789f9;
$column-bg-color: #f5f4f9;
$btn-accent: #fd8d7b;
$popup-color: #3b4040;

.button {
	text-align: center;
	font-family: 'bebas_neuebold', sans-serif;
	color: #fff;
	font-size: 18px;
	padding: 15px 45px;
	display: inline-block;
	border-radius: 30px;
	background: #444;
	text-decoration: none;
	opacity: 1;
	white-space: nowrap;
	&:hover,
	&:focus {
		opacity: 1;
	}
}

* {
	box-sizing: border-box;
	-webkit-transition: all $transition-duration ease;
	   -moz-transition: all $transition-duration ease;
	    -ms-transition: all $transition-duration ease;
	     -o-transition: all $transition-duration ease;
	        transition: all $transition-duration ease;
}

html, body {
	height: 100%;
	font-family: 'bebas_neuelight', sans-serif;
	font-size: 15px;
	background: $bg-color;
}

.container {
	width: 1140px;
	margin: 20px auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.column {
	background: $column-bg-color;
	flex-basis: 330px;
	height: 630px;
	text-align: center;
	padding: 40px 0;
	position: relative;
	&--lg {
		flex-basis: 370px;
		height: 695px;
	}
	&__header {
		font-family: 'bebas_neuethin', sans-serif;
	}
	&__price {
		font-size: 60px;
		position: relative;
		display: inline-block;
		&:before,
		&:after {
			content: attr(data-currency);
			font-size: 24px;
			position: absolute;
			top: 7px;
			left: -13px;
		}
		&:after {
			content: '/' attr(data-period);
			top: auto;
			left: 101%;
			bottom: 8px;
		}
	}
	&__title {
		font-size: 24px;
		font-family: 'bebas_neuebold', sans-serif;
		letter-spacing: 1px;
		margin-top: 10px;
	}
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 40px 40px 70px 40px;
		margin: 40px 0 60px;
		background: -webkit-radial-gradient(center bottom, circle farthest-side, #fff 99.5%, #f5f4f9 100%);
		background: -o-radial-gradient(center bottom, circle farthest-side, #fff 99.5%, #f5f4f9 100%);
		background: -ms-radial-gradient(center bottom, circle farthest-side, #fff 99.5%, #f5f4f9 100%);
		background: radial-gradient(center bottom, circle farthest-side, #fff 99.5%, #f5f4f9 100%);
		.column--lg & {
			position: relative;
		}
	}
	&__list {
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: left;
		font-size: 16px;
		font-family: Roboto, sans-serif;
		li {
			margin-top: 30px;
		}
	}
	&__footer {
		font-size: 11px;
		font-family: Roboto, sans-serif;
		color: #a9a9a9;
	}
	&__link {
		@extend .button;
		position: absolute;
		bottom: 0px;
		left: 50%;
		background: #6fcffb;
		-webkit-transform: translate(-50%, 50%);
		   -moz-transform: translate(-50%, 50%);
		    -ms-transform: translate(-50%, 50%);
		     -o-transform: translate(-50%, 50%);
		        transform: translate(-50%, 50%);
		.column--lg & {
			background: $btn-accent;
		}
		&:hover {
			.column__popup {
				opacity: 1;
			}
		}
	} 
	&__badge {
		cursor: pointer;
		width: 45px;
		height: 45px;
		border-radius: 50%;
		background: $btn-accent;
		color: #fff;
		text-align: center;
		line-height: 45px;
		font-family: bebas_neuebold;
		font-size: 24px;
		position: absolute;
		top: 20px;
		right: 20px;
		&:before,
		&:after {
			content: '';
			width: 14px;
			height: 14px;
			border-radius: 50%;
			background: $btn-accent;
			position: absolute;
			top: -8px;
			right: -8px;
		}
		&:after {
			content: '';
			width: 6px;
			height: 6px;
			top: -14px;
			right: -14px;
		}
		&:hover {
			.column__popup {
				opacity: 1;
			}
		}
	}
	&__popup {
		opacity: 0;
		z-index: 10;
		white-space: nowrap;
		display: inline-block;
		padding: 5px 25px;
		background: $popup-color;
		line-height: 1.2;
		border-radius: 20px;
		position: absolute;
		bottom: 0px;
		left: 50%;
		-webkit-transform: translate(-50%, 120%);
		    -moz-transform: translate(-50%, 120%);
		     -ms-transform: translate(-50%, 120%);
		      -o-transform: translate(-50%, 120%);
		         transform: translate(-50%, 120%); 
		&:before {
			content: '';
			width: 0;
			height: 0;
			border: 8px solid transparent;
			border-bottom-color: $popup-color;
			position: absolute;
			top: 1px;
			left: 50%;
			-webkit-transform: translate(-50%, -100%);
			   -moz-transform: translate(-50%, -100%);
			    -ms-transform: translate(-50%, -100%);
			     -o-transform: translate(-50%, -100%);
			        transform: translate(-50%, -100%);
		}
		&[data-position="left"] {
			top: 50%;
			left: 0;
			bottom: auto;	
			-webkit-transform: translate(-107%, -50%);
			   -moz-transform: translate(-107%, -50%);
			    -ms-transform: translate(-107%, -50%);
			     -o-transform: translate(-107%, -50%);
			        transform: translate(-107%, -50%);
			&:before {
				content: '';
				border: 8px solid transparent;
				border-left-color: $popup-color;
				top: 50%;
				left: auto;
				right: 2px;
				-webkit-transform: translate(100%, -50%);
				   -moz-transform: translate(100%, -50%);
				    -ms-transform: translate(100%, -50%);
				     -o-transform: translate(100%, -50%);
				        transform: translate(100%, -50%);
			}
		}
		&[data-position="right"] {
			top: 50%;
			left: auto;
			right: 0;
			bottom: auto;	
			-webkit-transform: translate(107%, -50%);
			   -moz-transform: translate(107%, -50%);
			    -ms-transform: translate(107%, -50%);
			     -o-transform: translate(107%, -50%);
			        transform: translate(107%, -50%);
			&:before {
				content: '';
				border: 8px solid transparent;
				border-right-color: $popup-color;
				top: 50%;
				left: 2px;
				right: auto;
				-webkit-transform: translate(-100%, -50%);
				   -moz-transform: translate(-100%, -50%);
				    -ms-transform: translate(-100%, -50%);
				     -o-transform: translate(-100%, -50%);
				        transform: translate(-100%, -50%);
			}
		}
		&[data-position="top"] {
			top: 0;
			bottom: auto;
			left: 50%;
			-webkit-transform: translate(-50%, -120%);
			    -moz-transform: translate(-50%, -120%);
			     -ms-transform: translate(-50%, -120%);
			      -o-transform: translate(-50%, -120%);
			         transform: translate(-50%, -120%); 
			&:before {
				content: '';
				border: 8px solid transparent;
				border-top-color: $popup-color;
				top: auto;
				bottom: 1px;
				left: 50%;
				-webkit-transform: translate(-50%, 100%);
				   -moz-transform: translate(-50%, 100%);
				    -ms-transform: translate(-50%, 100%);
				     -o-transform: translate(-50%, 100%);
				        transform: translate(-50%, 100%);
			}
		}
	}
}